body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.numbers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.operators{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-weight: bolder;
  align-items: center;
  gap: 8px;
}
button{
  background-color: deepskyblue;
  border: 0;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 20px;
}
button:hover{
  background-color: white;
  color: deepskyblue;
  box-shadow: 0 0 2px black;
}
#equal{
  text-align: center;
  font-weight: bold;
}

