body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.a, .b, .c{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  animation: down .6s linear infinite;
  opacity: 0;
  translate: 0 5px;
}
.b{
  animation-delay: 0.2s
}
.c{
  animation-delay: 0.4s
}
@keyframes down{
  0%{
    display: none;
    translate: 0 10px;
    opacity: 0;
  }
  20%{
    display: block;
    translate: 0 5px;
    opacity: 1;
  }
  100%{
    display: block;
    translate: 0 5px;
    opacity: 1;
  }
}
