body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  height: 50%;
  width: 90%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 2px gray;
  border-radius: 8px;
}
h1{
  text-align: center;
}
input{
  outline: 0;
  border: 1px solid black;
  padding: 8px 13px;
  border-radius: 8px;
}
p{
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
p.a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a{
  color: black;
  text-decoration: none;
}
button{
  background-color: green;
  color: white;
  padding: 6px 20px;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  font-size: 23px;
}

