body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
h1{
  color: transparent;
  font-weight: bolder;
  font-family: fantasy;
  background-color: white;
  background-image: linear-gradient(to top right,  purple, hotpink, deepskyblue);
  background-clip: text;
}

