body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
form{
  height: 80%;
  width: 90%;
  margin: 28% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 2px gray;
}
form>h1{
  text-align: center;
}
form>input{
  padding: 7px 9px;
  border-radius: 8px;
  border: 1px solid black;
  outline: 0;
}
input:focus{
  border-bottom: 1px solid deepskyblue;
}
p>a{
  color: blue;
}
button{
  padding: 12px 20px;
  background-color: green;
  color: white;
  border-radius: 8px;
  border: 0;
  font-weight: bold
}

