body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  color: purple;
}
table{
  overflow-x: scroll;
  margin: 5px auto;
}
table,th ,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px 12px;
}
th{
  background-color: mediumpurple;
  color: white;
}

