body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}
h1{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}
table{
  overflow-x: auto;
}
table,th,td{
  border-collapse: collapse;
}
tr:nth-child(even){
  background-color: gainsboro
}
th{
  background-color: teal;
  color: white;
  padding: 6px 10px;
}
td{
  padding: 6px 10px;
}

