h1{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}
table{
  box-shadow: 0 0 2px black;
  overflow-x: scroll;
}
table,th,td{
  border-collapse: collapse;
}
th{
  background-color: teal;
  color: white;
  padding: 6px 10px;
}
td{
  padding: 6px 10px;
  background-color: white;
}

