h1{
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}
table{
  overflow-x: scroll;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  background-color: deepskyblue;
  color: white;
  padding: 6px 10px;
}
td{
  padding: 6px 10px;
  background-color: white;
}

