body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
h1{
  color: transparent;
  font-weight: bolder;
  font-family: cursive;
  font-size: 60px;
  background-color: white;
  background-image: linear-gradient(to top right, brown, yellow , darkred);
  background-clip: text;
}
#btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button{
  padding: 30px 30px;
  border-radius: 50%;
  border: 1px solid white;
}
#btn{
  background-color: darkgreen;
}
#btn1{
  background-color: purple;
}
#btn2{
  background-color: darkblue;
}
#btn3{
  background-color: darkred;
}